@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

.container {
  margin: 30px auto;
  max-width: 980px;
}


.line-items {
  .quantity {
    width: 15%;
  }

  .item-number {
    width: 15%;
  }

  .description {
    width: 50%;
  }

  .unit-price, .total {
    width: 10%;
  }
}
