@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

$row-stripe: #d2d2d2;

.container {
  margin: 30px auto;
  max-width: 980px;
}


.line-items {
  margin-bottom: 20px;

  .quantity {
    width: 5%;
  }

  .item-number {
    width: 20%;
  }

  .description {
    width: 55%;
  }

  .unit-price, .total {
    width: 10%;
  }

  tbody tr:nth-child(2n) {
    background: $row-stripe;
  }

  tbody td:first-child {
    padding-left: 10px;
  }
}

header {
  margin-bottom: 40px;

  .contact {
    float: right;
    p {
      margin-bottom: 0;
    }
  }

  .logo {
    max-height: 70px;
  }
}
